<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>
<body>

    <nav th:replace="layouts::navbar"></nav>

    <div class="container">
        <div>
            <h4>当前项目</h4>
            <table>
                <thead>
                <tr>
                    <th>项目名称</th>
                    <th>项目状态</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aProject : ${projects}">
                    <td th:text="${aProject.name}"></td>
                    <td th:text="${aProject.stage}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h4>当前学生</h4>
            <table>
                <thead>
                <tr>
                    <th>学生姓名</th>
                    <th>微信号</th>
                    <th>邮箱</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aStudent : ${students}">
                    <td th:text="${aStudent.name}"></td>
                    <td th:text="${aStudent.wechatId}"></td>
                    <td th:text="${aStudent.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>

</html>