<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header"></head>

<body>
    <nav th:replace="layouts::navbar"></nav>
    <div class="container">
        <form action="/students/save" th:object="${student}" method="POST">
            <input type="text" placeholder="姓名" th:field="${student.name}">
            <input type="text" placeholder="微信号" th:field="${student.wechatId}">
            <input type="text" placeholder="邮箱" th:field="${student.email}">
            <button type="submit">新建学生</button>
        </form>
    </div>

</body>

</html>